body.page-about,
body.page-template-page-about-hero-landing {
	overflow-x: hidden;

	.entry-header {
		padding: ms( 4 ) ms( 1 );
		text-align: center;

		.entry-title {
			font-size: ms( 6 );
			line-height: 1;
			margin: 2rem auto 1rem;

			@include breakpoint( $ms-breakpoint ) {
				font-size: ms( 10 );
			}
		}

		.dashicons-wordpress-alt {
			font-size: ms( 12 );
			width: ms( 12 );
			height: ms( 12 );
			line-height: 1;
			color: rgba( 255, 255, 255, 0.8 );
			margin: 1rem auto 1rem;

			@include breakpoint( 0, 480px ) {
				font-size: ms( 10 );
				width: ms( 10 );
				height: ms( 10 );
			}
		}

		.entry-description {
			color: rgba( 255, 255, 255, 0.8 );
			font-size: ms( 2 );
			font-weight: 300;
			margin: -.4rem auto 2rem;
		}
	}

	.entry-content {

		.home-landing {

			.inner-wrap {
				margin: 2rem auto 0;
				max-width: 760px;
				max-width: 76rem;
				margin: 1.2em auto 0;
			}

			.section {
				padding: 50px 0 10px;
				padding: 5rem 0 1rem;
				margin-top: 10px;
				margin-top: 1rem;
				overflow: auto;

				@include breakpoint( $ms-breakpoint ) {
					display: flex;
				}

				.box {
					text-align: center;

					padding: 0 30px 30px;
					padding: 0 3rem 3rem;
					width: 100%;

					@include breakpoint( $ms-breakpoint ) {
						padding: 0 30px 50px;
						padding: 0 3rem 5rem;
						width: 33%;
					}

					img {
						display: block;
						border: none;
						margin: 0 auto;
					}

					.widget-description {
						padding: 1em 0 0;
						margin-bottom: 5px;
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
}
