body.blog,
body.single-post,
body.archive-post {
	.gutters .col-12 {
		width: 100%;
	}

	.row.gutters > .row {
		margin-left: auto;
	}

	.blog-wrapper {
		margin: 0 auto;

		@include breakpoint( $tablet-portrait ) {
			width: 960px;
		}

		.pagination {
			padding-bottom: 2rem;
		}
	}
}

body.blog,
body.archive-post {

	.o2-post {
		border-top: 1px solid $color__text-screen;
		padding: 0.8em;
		overflow-wrap: break-word;
		word-wrap: break-word;
	}
}
